<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- ServiceVendor: "SerwerSMS" or "SMSApi"-->
		<!--<add key="ServiceVendor" value="SerwerSMS"/>-->
		<add key="ServiceVendor" value="SMSApi"/>
		
		<!--SMSAuthorizationToken: only for SMSApi-->
		<add key="SmsAuthorizationToken" value="encrypt:token"/>
		
		<!--Username and Password: only for SerwerSMS-->
		<!--<add key="Username" value="encrypt:username"/>-->
		<!--<add key="Password" value="encrypt:password"/>-->
		
		<add key="SendHour" value="8"/>
		<add key="IntervalInMinutes" value="60"/>
		<add key="SendingReportsEnable" value="true"/>
	
		<add key="SmsReceiver" value="000000000"/>
		<add key="SmsSenderName" value="Sender"/>
	</appSettings>
</configuration>